<div class="card flex justify-content-center">

  
<div class="card">
 
    <p-table #dt [value]="dados" [customSort]="true" (sortFunction)="customSort($event)">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="food">
            Alimento <p-sortIcon field="food" />
          </th>
          <th pSortableColumn="quantity">
            Quantidade <p-sortIcon field="quantity" />
          </th>
          <th pSortableColumn="calories">
            Calorias <p-sortIcon field="calories" />
          </th>
          <th pSortableColumn="registrationDate">
            Data/Hora <p-sortIcon field="registrationDate" />
          </th>
          
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td>{{ row.food }}</td>
          <td>{{ row.quantity }}</td>
          <td>{{ row.calories }}</td>
          <td>{{ row.registrationDate | date: 'short' }}</td>
          <td><p-button [style]="{ width: '20px', height: '8px'}" icon="pi pi-times" [rounded]="true" severity="danger" /></td>
        </tr>
    
      </ng-template>
    </p-table>
  </div>

  

  