<div class="card">
    <p-table #dt [value]="dados" [customSort]="true" (sortFunction)="customSort($event)">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="alimento">
            Alimento <p-sortIcon field="alimento" />
          </th>
          <th pSortableColumn="quantidade">
            Quantidade <p-sortIcon field="quantidade" />
          </th>
          <th pSortableColumn="calorias">
            Calorias <p-sortIcon field="calorias" />
          </th>
          <th pSortableColumn="datahora">
            Data/Hora <p-sortIcon field="datahora" />
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td>{{ row.alimento }}</td>
          <td>{{ row.quantidade }}</td>
          <td>{{ row.calorias }}</td>
          <td>{{ row.datahora | date: 'short' }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>